<html>
<head>
    <title>Address Book</title>
</head>
<body>
    <h1>Contact List</h1>

    <form action='/contacts' method='post'>
        <label for='name'>Contact name</label>
        <input id='name' name='name' type='text'></input>

        <label for='phone'>Contact phone</label>
        <input id='phone' name='phone' type='numbers'></input>

        <label for='address'>Contact address</label>
        <input id='address' name='address' type='text'></input>

        <button type='submit'>Add contact</button>
    </form>

    {% if contacts is not empty %}
        <p>Here are all your contacts:</p>
        <ul>
            {% for contact in contacts %}
                <li>{{ contact.getDescription }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/delete_contacts' method='post'>
        <button type='submit'>Clear</button>
    </form>

</body>
</html>