@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}


.jumbotron {
  text-align: center;
  background-color: #3F869E;
  color: white;
}

h2 {
  padding-bottom: 12px;
}

.btn {
  margin-top: 12px;
}